.form-group {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.submitButton {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;  
}